html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #1b2224;
  margin: 0;
  line-height: 1.43;
}

.container {
  display: flex;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.sidebar {
  height: 100%;
  min-width: 200px;
  color: #596468;
}

.sidebar-item {
  padding: 1.2em;
  border-left: 0.3em solid #1b2224;
}

body > div > ul > li.active.sidebar-item {
  background: #fff;
  border-left: 0.3em solid #ce5135;
}

.active .sidebar-notification {
  background: #ce5135;
  border: 0.8em solid #ce5135;
  border-radius: 50%;
  font-size: 0.6em;
  color: #fff;
  float: right;
  width: 12px;
  text-align: center;
}

body > div > ul > li:nth-child(5) > span.sidebar-notification {
  background: #1b2224;
  border: 0.2em solid #596468;
  border-radius: 50%;
  font-size: 0.6em;
  float: right;
  width: 12px;
  text-align: center;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 20px;
}

div.sidebar-divider {
  border-top: 0.08em solid #303a3d;
  color: #303a3d;
  padding-top: 2em;
  padding-left: 1em;
  padding-bottom: 0.6em;
  margin-top: 1.4em;
}

.compose-btn {
  display: flex;
  background-color: #ce5135;
  border: none;
  border-radius: 3px;
  padding: 0.8em 3em;
  color: #fff;
  margin: 3.5em auto;
  margin-bottom: 2.5em;
  font-size: 1.05em;
  font-weight: lighter;
  cursor: pointer;
}

.email-panel {
  padding: 3em 4em;
  flex-grow: 1;
  max-width: 600px;
  background-color: #fff;
}

body > div > div > div > input {
  text-align: right;
  padding: 1em;
  padding-top: 1.4em;
  width: 200px;
}

::placeholder {
  color: #D3D3D3;
  font-size: 1.6em;
}

.email-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.email-header {
  font-weight: lighter;
  font-size: 3em;
  margin: 0;
  color: #444;
}

.email-list {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #e9eff0;
}

.email-item {
  border-bottom: 1px solid #e9eff0;
  padding-bottom: 2em;
  margin-bottom: 2em;
}

.meta-data {
  margin-bottom: 1em;
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  opacity: 0.5;
}
